@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* SHADES OF BLACK */
  --clr-black-100: #0a0e15;
  --clr-black-90: #212631;
  --clr-black-80: #373f4e;
  --clr-black-70: #4e576a;
  --clr-black-70: #667085;

  /* SHADES OF WHITE */

  --clr-white-100: #ffffff;
  --clr-white-90: #f0f1f5;
  --clr-white-80: #e0e4eb;
  --clr-white-70: #d1d6e0;
  --clr-white-60: #bfc6d4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-decoration: none;
}
ol,
ul {
  list-style-type: none;
  margin: 0;
  color: white;
}

body {
  background-color: var(--clr-black-100);
  color: var(--clr-white-100);
  width: 100%;
  height: 100dvh;
}

.navigation {
  border-bottom: solid 1px goldenrod;
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 1.2rem 0.7rem 1.2rem;
}

.navigation .nav-panel ul {
  display: flex;
  justify-content: space-around;
  gap: 15px;
}

.navigation .nav-panel li:hover {
  transform: translateY(-3px);
  transition: ease-in 0.3s;
}
.navigation .nav-panel li a {
  color: var(--clr-white-100);
  padding: 5px 5px 5px 5px;
  border-radius: 5px;
  transition: ease-in 0.3s;
}

.navigation .nav-panel li a:hover {
  color: goldenrod;
  cursor: pointer;
  border-bottom: solid 1px goldenrod;
}

.hero {
  margin-top: 6rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  padding: 1rem;
}

.hero-item {
  padding: 1rem;
  text-align: center;
}

.hero-image {
  display: flex;
  flex-direction: column;
  border-right: solid 1px goldenrod;
}

.hero-image img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.hero-image img:hover {
  transform: translateY(-8px);
  transition: ease-in 0.3s;
  border: solid 2px goldenrod;
}

.image-words span {
  vertical-align: middle;
  font-size: medium;
}

button {
  border: none;
  padding: 0.8rem 1.2rem;
  background-color: transparent;
  color: var(--clr-white-60);
  border-radius: 5px;
  transition: ease-in 0.3s;
}

.hero button:hover {
  color: goldenrod;
  cursor: pointer;
  border-bottom: solid 1px goldenrod;
  transform: translateY(-3px);
}

.hero a {
  color: olivedrab;
  padding: 5px 5px 5px 5px;
  border-bottom: 1px solid olivedrab;
  border-radius: 5px;
  transition: ease-in 0.3s;
}

.hero a:hover {
  color: goldenrod;
  cursor: pointer;
  border-bottom: solid 1px goldenrod;
}

/* END HERO SECTION */

.projects {
  background-color: #f9f8fa;
  margin-top: 8rem;
  padding: 1rem;
  color: var(--clr-black-100);
  padding-bottom: 5rem;
}

.projects-title {
  margin-bottom: 2rem;
  border-bottom: solid 1px goldenrod;
}

.project-item h3 {
  margin-bottom: 1rem;
}

.project-item {
  display: flex;
  flex-direction: column;
}

.projects .images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 1.5rem;
}

.projects .images .eoc-image {
  text-align: center;
  background-color: #e9ecef;
  border-radius: 10px;
  overflow: hidden;
}

.projects .images .eoc-image:hover {
  transform: scale(1.05);
  transition: ease-in 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.projects .images img {
  width: 100%;
  height: 90%;
}

/* END PROJECTS STYLE  */
.skills {
  padding: 1rem;
}

.skills-title {
  border-bottom: solid 1px goldenrod;
  margin-bottom: 3rem;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 2rem;
}

.skill-item {
  text-align: center;
}

.skill-item:hover {
  transform: translateY(-5px);
  transition: ease-in 0.3s;
}

.skill-item-img {
  width: 85px;
  height: 90px;
  background-color: transparent;
  border-radius: 8px;
}

.skill-item-txt {
  margin-top: 0.8rem;
  color: var(--clr-white-90);
}

/* END SKILLS SECTION */

@media (max-width: 768px) {
  .navigation {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .hero {
    grid-template-columns: 1fr;
  }

  .hero-image {
    border-right: none;
    border-bottom: solid 1px goldenrod;
    padding-bottom: 1.5rem;
  }

  .projects .images {
    grid-template-columns: 1fr;
  }

  .skills-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }
}
/* END MEDIA QUERIES */

/* FADEINS */

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}
